{% extends 'base.html' %}
{% block content %}
<header>
    <nav class="navbar is-link" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            {% if user.is_authenticated %}
            <a class="navbar-item" href="{% url 'provider-home' %}" >Welcome {{user.first_name}}</a>
            {% endif %}
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'about' %}">About</a>
            <a class="navbar-item" href="{% url 'provider-detail' %}">provider Detail</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
        </div>
        
    </nav>
    </header>

<h1>{{user.first_name}} {{user.last_name}}'s provider Details</h1>
<div class="container">
    <div class="notification is-primary">

            <p>{{user.first_name}}'s background:</p><p class="has-text-black ">{{blurb}}</p>
            <p>{{user.first_name}}'s field of practice:</p><p class="has-text-black ">{{specialization}}</p> 
            <p>{{user.first_name}}'s insurances taken up to:</p><p class=" has-text-black">{{insurances}}</p> 
            
    
      
  

    
  </div>
  {% endblock %} 